@font-face {
  font-family: Gilroy-SemiBold;
  src: url('../../../../assets/fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: Gilroy-Medium;
  src: url('../../../../assets/fonts/Gilroy-Medium.ttf');
}

.Gilroy-SemiBold {
  font-family: Gilroy-SemiBold !important;
}
.Gilroy-Medium {
  font-family: Gilroy-Medium !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-15 {
  font-size: 16px;
}
.input div input {
  border-radius: 4px !important;
  padding: 12px !important;
}
.padding-16px {
  padding: 16px !important;
}
.margin-bottom-10px {
  margin-bottom: 10px !important;
}

.only-input {
  padding: 3px;
  /* border: 1px solid #e5e7eb; */
  border-radius: 4px !important;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.font-14 {
  font-size: 14px;
}
.submit-btn {
  margin-left: 0px !important;
}
.w-100 div:first-child {
  width: 100%;
}

.css-qr6njo-MuiCollapse-root{
  overflow: unset !important;
}
.MuiAccordion-root{
    overflow-x: revert !important;
}
.MuiAccordionDetails-root{
  overflow-x: revert !important;
}