.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 4px !important;
  padding: 30px 50px;
  width: 400px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-title {
  text-align: center;
  color: #333333;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  color: #333333;
  background: transparent;
  border: none;
  cursor: pointer;
}

.otp-section {
  margin-bottom: 20px;
}

.otp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otp-info {
  font-size: 12px;
  padding-left: 5px;
  padding-top: 10px;
  color: #666666;
}

.otp-label {
  font-weight: 500;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  color: #333333;
  gap: 4px;
}

.otp-label .required {
  color: red;
  font-weight: bold;
}

.otp-timer {
  font-size: 12px;
  text-align: right;
  color: #000;
}

.resend-button {
  background: none;
  border: none;
  color: #002cba;
  cursor: pointer;
  font-size: 13px;
  /* text-decoration: underline;  */
}

.otp-input-group {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.otp-input {
  width: 50px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  max-width: 200px;
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #002cba;
  color: #fff;
  border: none;
  border-radius: 1px;
  font-size: 18px;
  cursor: pointer;
}
/* submit-buttondisabled{
    max-width: 200px;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: #002CBA;
    color: #fff;
    border: none;
    border-radius: 1px;
    font-size: 18px;
    cursor: pointer;
  } */

.otp-input.invalid {
  border-color: red; /* Red border for invalid OTP */
}

.invalid {
  border-color: red;
}

.otp-info-row {
  display: flex;
  justify-content: space-between; /* Align the OTP info and error message to opposite ends */
  align-items: center;
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  /* margin-left: 10px; Add some space between the OTP info and the error message */
}
