/* Dashboard specific styles */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.table-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
  margin-bottom: 50px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.search-bar .ant-input-group {
  width: 300px;
}

.status-filter {
  width: 200px;
}

date-picker {
  width: 100%;
}

.action-button {
  margin-right: 8px;
}
.checkBox {
  text-align: left;
  display: block;
}