.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  width: 400px;
  max-width: 90vw; /* Responsive for smaller screens */
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Modal header container */
.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* Success icon styling */
.modal-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: block;
  /* Ensure the icon itself is centered */
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin: 0; /* Remove default margins since spacing is handled by modal-header */
}

.modal-message {
  font-size: 14px;
  color: #535353;
  margin-bottom: 20px;
  line-height: 1.5;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  color: #333333;
  background: transparent;
  border: none;
  cursor: pointer;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  max-width: 150px;
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #002CBA;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background-color: #001a8a; /* Slightly darker blue on hover */
}

.modal-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

/* Media queries for responsive design */
@media (max-width: 480px) {
  .modal {
    padding: 20px 25px;
    width: 350px;
  }
  
  .modal-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .modal-title {
    font-size: 18px;
  }
  
  .modal-message {
    font-size: 13px;
  }
}