@import url('https://fonts.googleapis.com/css2?family=Gilroy:wght@400;500;700&display=swap');






body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  background: #f6f8fa;
}

.app-container {
  padding: 2rem;
}


